- content_for :title, "Tags"

%table.rankings.table.table-striped
  %thead
    %tr
      %th Rank
      %th Tag
      %th Combined W-L
      %th Average Elo
      %th Weighted Average Elo
  - i = 1
  - @tags.each do |tag|
    - tag_data = @tags_data[tag]
    %tr.tag
      %td.rank= "#{i}."
      %td.name= link_to tag.name, tag
      %td.rating= "#{tag_data[:wins]}-#{tag_data[:losses]}"
      %td.rating= tag_data[:average_elo]
      %td.rating= tag_data[:weighted_average_elo]
    - i += 1
