- content_for :title, "Tag: #{@tag.name}"

.row
  %h2.span4
    = "Tag #{@tag.name}'s Members"

.row
  %h3.span4
    = "Average Elo Rating (All-Time): #{@tag_data[:average_elo]}"
  %h3.span4
    = "Combined Record (All-Time): #{@tag_data[:win_loss]}"

= render(:partial => "shared/rankings", :locals => { :ratings => @ratings, :players_by_id => @players_by_id})